* {
  margin: 0;
  padding: 0;
  
}
body{

  background: url("../img/Backgrounds/imh-card.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;

}

.titulo{
  text-align: center;
  margin-top: 4%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  background-color: white;
  border-radius: 15px;
  
}
 
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
  
}



.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
  margin-top: 2%;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 30vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}



.card-title1{

  text-align: center;

}

.card-title2{
   text-align: center;

}

.card-text{

  text-align: center;

}

.card{
  
  z-index: -10;

}



.p2{
  text-align: center;

}

 .container-dois {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 3%;
  margin-bottom: 3%;
  

    & .card {
    flex: 1 1 250px; 

    & .card-title{

      text-align: center;
    }

    & .card-text{
      text-align: center;

    }
}

}

@media (max-width: 600px) {
  .container-dois{
    grid-template-columns: 1fr; 
  }
}

.button{
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3%;
}


.button .link a{
    color: blue;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    transition: 200ms;
    
}

.button .link a:hover{
    color: black;
    background-color: rgb(0, 206, 17);

}

 

