* {
  margin: 0;
  padding: 0;
  
}
body{

  background: url("../img/Backgrounds/imh-card.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  padding-top: 80px;
 

}

.titulo{
  text-align: center;
  margin-top: 4%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  background-color: white;
  border-radius: 15px;
  
}
 
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 15px;
  
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
  margin-top: 2%;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
   
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 30vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.nav a.active {
    background: #000;
}


.card-title1{

  text-align: center;

}

.card-title2{
   text-align: center;

}

.card-text{

  text-align: justify;

}

.card-um{
  
  z-index: -10;
  background-color: #000;
  border: 3px solid green;
  color: #fff;

}



.p2{
  text-align: center;

}

 .container-dois {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 3%;
  margin-bottom: 20px;
  
    & .card-dois {
    flex: 1 1 250px; 
    z-index: -10;
    text-align: justify;
    border: 3px solid green;
    background-color: black;
    padding: 5px;
    color: #fff;

    & .card-title{

      text-align: center;
    }   
}
}

@media (max-width: 600px) {
  .container-dois{
    grid-template-columns: 1fr; 
  }
}

.container-tres {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  
  

    & .card-tres {
    flex: 1 1 250px; 
    z-index: -10;
    text-align: center;
    border: 3px solid green;
    background-color: black;
    padding: 5px;
    color: #fff;
    

   & .card-title{

      text-align: center;
    }

    & .card-text{
      text-align: justify;

    }
  }
}

@media (max-width: 600px) {
  .container-tres{
    grid-template-columns: 1fr; 
  }
}



/* Botoes */

.container-quatro{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

    & .card-quatro{
      flex: 1 1 calc(33% - 20px);
    
    & .principal .links a{
      color: #fff;
      background-color: #000;
      padding: 10px 18px;
      display: inline-block;
      border: 3px solid  green;
      border-radius: 3px;
      transition: 200ms;
    }

    & .links a:hover{
    color: green;
    background-color: #fff;
    }
  }
}
@media (max-width: 600px) {
  .container-quatro{
    grid-template-columns: 1fr; 
  }
}


footer{

  background-color: #23232e;
  margin-top: 30px;
  
  & .rodape{
     color: aqua;
     text-align: center;

  }
  
}