/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ESTRUTURA PRINCIPAL */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: green;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  padding-top: 60px; /* altura da navbar */
}


/*Menu com fundo nos itens*/

header .nav-list a{ 
    color: white;
    padding: 8px 12px;
    border-radius: 3px;
    transition: 200ms; 
}

.nav-list .ativo{
    color: green;
    
}

header .ativo,header .none:hover{
    color: green;
    background-color: black;
    
}

/* MAIN EMPURRA O FOOTER */
main {
  flex: 1;
  padding-bottom: 40px; /* espaço antes do footer */
}

/* ================= NAVBAR ================= */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  

  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: black;

  height: 60px;
  width: 100%;
  

  position: fixed;
  top: 0;
  left: 0;

  z-index: 999;
}

nav .img1 {
  height: 65px;
  width: auto;
  display: block;
}

.nav-list {
  align-items: center;
  display: flex;
  list-style: none;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
  margin-top: 2%;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  align-items: center;
  line-height: 1;
}



/* MENU MOBILE */

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: green;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
    background-attachment: fixed;
  }

  header .nav-list a{
    color: white;
    padding: 8px 12px;
    border-radius: 3px;
    transition: 200ms; 
  }

  .nav-list .ativo{
      color: green;
      
  }

  header .ativo,header .none:hover{
    color: green;
    background-color: black;
    
  }

  .img1 { 
    height: 45px;
  }

  .nav-list {
    position: absolute;
    top: 60px;
    right: 0;
    width: 30vw;
    height: calc(100vh - 60px);
    max-width: 260px;
    min-width: 200px;
    background: black;

    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}


/* ================= TÍTULO ================= */

.titulo {
  text-align: center;
  margin-top: 4%;  
  background-color: black;
  border-radius: 15px;
  border: 1px solid green;

  & h1{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
    margin: 3px;

  }
}


/* ================= BOTÕES ================= */

.principal{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.principal h2{
    color: black;
    font-size: 43px;
}
/* ================= FOOTER ================= */

footer {
  background-color: black;
  padding: 2px;
  text-align: center;
}

footer p {
  margin: 0;
  font-weight: bold;
}

footer .rodape {
  color: green;
}

